.menu {
	height: 100vh;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
}

h1 {
	height: 10%;
	width: 90%;
	margin: auto;
	text-align: center;
	padding-top: 10px;
}

ul {
	height: 90%;
	list-style: none;
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	
}

ul li  {
	flex: 1 1 0;
}

li {
	display: flex;
	justify-content: center;
	align-items: center;
	
}


ul li a {
	width: 50%;
	height: 50%;
}

ul li button {
	width: 50%;
	height: 50%;
}

ul li a button {
	width: 100%;
	height: 100%;
}

.score-board-wrapper > div {
	text-align: center;
}

.score-board-wrapper li {
	font-size: 2.8em;
	padding: 25px;
}

.score-board-wrapper button {
	font-size: 3em;
	padding: 15px 25px;
	margin: 20px;
}

@media screen and (max-width: 420px) {
	.score-board-wrapper li {
		font-size: 5.5vw;
	}
}
