#about {
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 80%;
	margin: auto;
}

#about > * {
	padding-top: 20px;
}


#about h4 {
	width: 100%;
	text-align: right;
}

