#contact {
	min-height: 40vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}

#contact button {
	margin-top: 10px;
}

#contact .contact-wrapper {
	text-align: center;
}
